*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, black, rgb(130, 9, 9));
    font-family: sans-serif;
    min-height: 100vh;
}

.grid-global {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 40px;
    padding: 20px;
}

nav {
    background-image: linear-gradient(to right, rgb(130, 9, 9), black);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    padding-left: 30px;
}

h1 {
    color: white;
    font-size: 50px;
}

.grid-filmes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}


.card-filme img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-filme img:hover {
    animation-name: crescer;
    animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes crescer{
    0%{transform: scale(1.3)}
    20%{transform: scale(1.5)}
    50%{transform: scale(1.8)}
 }

.banner-principal {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), 
                      url('https://thumb.wikimedia.org/wikipedia/pt/thumb/3/3a/Interstellar_Filme.png/250px-Interstellar_Filme.png?utm_source=pt.wikipedia.org&utm_campaign=parser&utm_content=thumbnail');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 40px;
}

@media (max-width: 760px) { 
    h1 {
        font-size: 32px;
        }

    .banner-principal {
        min-height: 250px;
        padding: 20px;
        }

    .grid-filmes {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); 
        gap: 15px;
        } 
    }
 